.footer {
  margin-bottom: 85px;
  padding: 3% 5% 0;
  text-align: center;
}

.contact {
  display: flex;
  padding-inline-start: 0;
  text-decoration: none;
  justify-content: space-evenly;
  min-width: 200px;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
}

.contactMe {
  display: flex;
  align-items: center;
}

.contactMe span {
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.contactMe span:nth-child(2) {
  animation: arrowTopBottom 0.5s ease alternate infinite;
  animation-fill-mode: both;
}
.contactMe span:nth-child(2) svg {
  transition: all 0.3s ease;
  transform: rotate(90deg);
}

.contactsUl {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.contactsUl li {
  padding: 0 10px;
}

.contact a {
  display: flex;
  justify-content: center;
}

.contact a,
.contact a svg {
  transition: 0.2s;
  transition-timing-function: ease;
}

@media screen and (min-width: 500px) {
  .contact {
    flex-direction: row;
    justify-content: center;
  }
  .contactMe span:nth-child(2) {
    animation: arrowLeftRight 0.5s ease alternate infinite;
    animation-fill-mode: both;
  }
  .contactMe span:nth-child(2) svg {
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 769px) {
  .footer {
    margin-bottom: 3%;
  }

  .contact {
    width: 500px;
  }
}

@keyframes arrowLeftRight {
  from {
    transform: translateX(-5px);
  }

  to {
    transform: translateX(5px);
  }
}

@keyframes arrowTopBottom {
  from {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(5px);
  }
}
