.introImg {
  /* background-image: url(/static/images/marten-bjork-aTt_rNa3gmM-unsplash_edited.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  height: 100vh;
  background-color: #121212;
  display: flex;
}

.introImg img {
  filter: blur(5px) brightness(1);
}

.introContent {
  color: #ffffff;
  margin: 5%;
  align-self: center;
  text-align: center;
  width: 100%;
  z-index: 10;
}

.introContent h1 {
  font-size: 3rem;
  margin: 0;
}
