.desktopNav {
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.1s ease-in;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 40px;
}

.name,
.name.active {
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  /* color: #e5b9a2; */
}

.desktopNav.active {
  /* background-color: #212121; */
  box-shadow: #0c0c0c 0px 5px 8px 4px;
}

.linksList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}

.linksList li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.linkBtn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 130px;
  margin: 10px 0;
  padding: 10px 0;
  background-color: transparent;
  /* color: #bbe1fa; */
  border: 0;
  font-size: 1.4rem;
  cursor: pointer;
  border-bottom: 1px hidden white;
  transition: all 0.1s ease;
}

/* .linkBtn.linkBtn.active {
  color: #e5b9a2;
} */

.linkBtn + span {
  height: 2px;
  width: 0;
  transition: all 0.4s ease;
  transition: all 0.1s ease;
}

.linkBtn.active + span {
  width: 100%;
  /* background-color: #e5b9a2; */
}

.themeToggleBtn {
  width: 40px;
  height: 40px;
  margin: 10px 0;
  padding: 10px 0;
  background-color: transparent;
  /* color: #bbe1fa; */
  border: 0;
  border-radius: 10px;
  /* font-size: 1.4rem; */
  cursor: pointer;
  border-bottom: 1px hidden white;
  transition: all 0.1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease;
}

.themeToggleBtn:hover {
  /* color: #e5b9a2; */
  transform: scale(1.1);
}

@media (hover: hover) and (pointer: fine) {
  .linkBtn:hover {
    transform: scale(1.1);
  }
  .linkBtn:hover + span {
    /* background-color: #bbe1fa; */
    width: 100%;
  }
  /* .linkBtn.active:hover + span {
    background-color: #e5b9a2;
  } */
}

.linkBtn:focus {
  border: none;
}

@media screen and (max-width: 1280px) {
  .name,
  .name.active {
    font-size: 1.1rem;
  }
  .linkBtn {
    width: 100px;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 900px) {
  .name,
  .name.active {
    font-size: 1rem;
  }
  .linkBtn {
    width: 100px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .desktopNav {
    bottom: 0;
    /* background-color: #212121; */
    padding: 0;
  }
  .name {
    position: fixed;
    display: flex;
    top: 0;
    padding: 10px;
    width: 100%;
    height: fit-content;
    /* background-color: rgb(33 33 33 / 50%); */
    justify-content: center;
    align-items: center;
  }
  .linksList {
    width: 100%;
  }
  .name.active {
    display: none;
  }
  .linkBtn {
    width: 100px;
  }
  .linkBtn span {
    display: none;
  }
  .themeToggleBtn {
    position: fixed;
    display: flex;
    right: 0;
    top: 10%;
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 20px 0 0 20px;
    /* background-color: rgb(33 33 33); */
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
  }
}

@media (max-width: 600px) {
  .linksList {
    justify-content: space-evenly;
  }
  .linkBtn {
    width: 25%;
  }
}
