.desktopNav {
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.1s ease-in;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 40px;
}

.name,
.name.active {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

.desktopNav.active {
  box-shadow: #0c0c0c 0px 3px 7px 0px;
}

.linksList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}

.linksList li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.linkBtn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 130px;
  margin: 10px 0;
  padding: 10px 0;
  background-color: transparent;
  border: 0;
  font-size: 1.1rem;
  cursor: pointer;
  border-bottom: 1px hidden white;
  transition: all 0.1s ease;
}

.linkBtn + span {
  height: 2px;
  width: 0;
  transition: all 0.4s ease;
  transition: all 0.1s ease;
}

.linkBtn.active + span {
  width: 100%;
}

.themeToggleBtn {
  width: 40px;
  height: 40px;
  margin: 10px 0;
  padding: 10px 0;
  background-color: transparent;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  border-bottom: 1px hidden white;
  transition: all 0.1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease;
}

.themeToggleBtn:hover {
  /* transform: scale(1.1); */
}

@media (hover: hover) and (pointer: fine) {
  /* .linkBtn:hover {
    transform: scale(1.1);
  } */
  .linkBtn:hover + span {
    width: 100%;
  }
}

.linkBtn:focus {
  border: none;
}

@media screen and (max-width: 1280px) {
  .name,
  .name.active {
    font-size: 1rem;
  }
  .linkBtn {
    width: 100px;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 900px) {
  /* .name,
  .name.active {
    font-size: 1rem;
    width: min-content;
  } */
  /* .linksList li {
    padding: 5px;
  } */
  .desktopNav {
    padding: 0;
  }
  .linkBtn {
    width: 100px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .desktopNav {
    bottom: 0;
    padding: 0;
  }
  .name {
    position: fixed;
    display: flex;
    top: 0;
    padding: 10px;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .linksList {
    width: 100%;
  }
  .name.active {
    display: none;
  }
  .linkBtn {
    width: 100px;
    margin: 5px 0;
    padding: 10px 0;
  }
  .linkBtn span {
    display: none;
  }
  .themeToggleBtn {
    position: fixed;
    display: flex;
    right: 0;
    top: 10%;
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 20px 0 0 20px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
  }
}

@media (max-width: 600px) {
  .linksList {
    justify-content: space-evenly;
  }
  .linkBtn {
    width: 25%;
  }
}
