/* .Navbar {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 1rem 0;
  top: 0;
  left: 0;
  background-color: #eeeeee;
  box-shadow: 3px 7px 13px 6px #393e46;
  z-index: 200;
  overflow-y: scroll;
  transition: all 0.5s ease-out;
  animation: sidebar-slide 0.5s ease-out forwards;
}

.NavbarOpen {
  transform: translateX(0);
  z-index: 200;
}

.NavbarClose {
  transform: translateX(-100%);
}

.profile1 {
  border-radius: 50%;
  width: 50%;
  margin: 0 25%;
}

.profile2 {
  border-radius: 50%;
  width: 60px;
  position: absolute;
  left: 10px;
  top: 5px;
  margin: 5px;
  padding: 5px;
  z-index: 100;
}

.desktopMini {
  position: fixed;
  width: 10%;
  height: 100vh;
  background-color: #eeeeee;
  display: flex;
  flex-flow: column;
  z-index: 200;
  padding-top: 50px;
  box-shadow: 3px 7px 13px 6px #393e46;
  align-items: center;
  justify-content: space-evenly;
}

@keyframes sidebar-slide {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
} */

.navHamburger {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 300;
  padding: 10px;
  background-color: #1b262cd4;
}
