.about {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 1rem;
}

.aboutImg {
  width: 250px;
  height: 250px;
  position: relative;
}

.aboutContent {
  display: inline-block;
  text-align: justify;
}

.aboutContent h3 {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 0;
}

@media screen and (min-width: 769px) {
  .about {
    flex-flow: row-reverse wrap;
  }
  .aboutImg {
    width: 40% !important;
    height: 300px;
    margin-left: 4%;
    background-size: cover;
    background-position: top;
  }
  .aboutContent {
    width: 56%;
  }
}

@media screen and (min-width: 1280px) {
  .aboutImg {
    width: 30% !important;
    margin-left: 5%;
  }
  .aboutContent {
    width: 65%;
  }
}
