.Hamburger {
  /* display: inline-block;
  padding: 10px; */
  cursor: pointer;
  /* margin: 5px; */
  color: #c4e7ff;
  /* position: absolute;
  right: 10px;
  top: 5px; */
  z-index: 300;
  /* width: 10px;
  height: 10px; */
  transition: all 0.3s ease-out;
}

.Hamburger:hover {
  color: #0f4c75;
}

.Hamburger:focus {
  color: #c4e7ff;
}

@media (min-width: 769px) {
  .Hamburger {
    display: none;
  }
}

/* 
.Hamburger div {
  background-color: #333;
  margin: 6px 0;
  width: 35px;
  height: 5px;
} */
