.projects {
  /* padding: 1% 5%; */
  background-color: #303030;
}

.projectsSection {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.projectsSection > div {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 500px) {
  .projectsSection > div {
    /* margin: 0 10px; */
    /* width: 80%; */
  }
}

@media screen and (min-width: 600px) {
  .projectsSection {
    flex-flow: row wrap;
  }
  .projectsSection > div {
    /* margin: 0 10px; */
    /* width: 48%; */
  }
  .projectsSection > div:nth-child(1) {
    margin-right: 2%;
    width: 48%;
  }
  .projectsSection > div:nth-child(2) {
    margin-left: 2%;
    width: 48%;
  }
  .projectsSection > div:nth-child(3) {
    /* margin-left: 2%; */
    width: 48%;
  }
}

@media screen and (min-width: 1280px) {
  .projectsSection {
    flex-flow: row;
  }
  .projectsSection > div:nth-child(1) {
    margin-right: 2%;
    width: 47%;
  }
  .projectsSection > div:nth-child(2) {
    margin: 0 2%;
    width: 47%;
  }
  .projectsSection > div:nth-child(3) {
    margin-left: 2%;
    width: 47%;
  }
}

/* .projectsSection > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
} */
/* .gridItem {
  width: 80%;
}

@media screen and (min-width: 600px) {
  .gridItem {
    width: auto;
  }
} */
