.ProjectCard {
  width: 90%;
  background-color: #0f4c75;
  margin: 10px 0;
  border-radius: 10px;
  color: #bbe1fa;
  /* box-shadow: #c3c3c3 2px 2px 2px 1px; */
  border: 1px solid #c3c3c3;
  transition: all 0.3s ease-out;
}

.projectImage {
  width: 100%;
  border-radius: inherit;
  height: 12rem;
  position: relative;
}

.projectName {
  text-align: center;
  font-size: 1em;
}

.projectName h4,
.projectName h6 {
  margin: 10px;
}

.projectCardActions {
  padding: 10px 20px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.srcCodeBtn {
  color: #bbe1fa;
  border: 1px solid #bbe1fa;
  border-radius: 5px;
  background-color: inherit;
  padding: 7px;
  transition: all 0.3s ease-out;
  font-family: 'Open Sans', sans-serif;
}

.srcCodeBtn:hover {
  border: 1px solid #1b262c;
  color: #1b262c;
  cursor: pointer;
}

.srcCodeBtn:focus {
  outline: none;
  border: 1px solid #1b262c;
  color: #1b262c;
  transform: scale(0.9);
}

.projectContent {
  padding: 0 20px 20px;
  /* text-align: justify; */
}

/* @media screen and (min-width: 500px) {
  .ProjectCard {
    width: 70%;
  }
}
*/
@media screen and (min-width: 768px) {
  .ProjectCard {
    width: 90%;
  }
  .projectName {
    font-size: 1.2em;
  }
}
