@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');
/* Styles for plain/common HTML tags*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  /* background-color: #1b262c; */
  background-color: #121212;
  color: #bbe1fa;
  background-image: url(/static/images/az-subtle.png);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  width: 100%;
  color: #e5b9a2;
  /* text-align: center; */
}

h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}

section {
  padding: 5%;
}

::-webkit-scrollbar {
  background-color: #303030;
  width: 5px;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #bbe1fa;
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background-color: #121212;
  border-radius: 100px;
}

.footerHR {
  margin: 40px auto;
  border: 0;
  border-top: 2px solid;
  width: 70%;
}

/* Styles for Navigation bar */

.nav-links {
  display: flex;
  align-items: center;
  padding-inline-start: 0;
  font-size: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #c4e7ff;
  font-family: 'Montserrat', sans-serif;
  display: contents;
  transition: 0.2s;
  transition-timing-function: ease;
}

.nav-links a:hover {
  color: #0f4c75;
}

/* Styles for "Timeline" section */

.paperRight {
  padding: 6px 16px;
  width: fit-content;
}

.paperLeft {
  padding: 6px 16px;
  width: fit-content;
  float: right;
}
