@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
  background: rgb(15 23 42);
  opacity: 10;
}

::-webkit-scrollbar-thumb {
  background-color: #495670;
  border: 3px solid rgb(15 23 42);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 12px;
}
